* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --white: #ffffff;
  --black: #000000;
  --blue: #116dff;
  --hover: #ffffff;
  --border-radius: 100px;
}

/* home */

.home {
  background-image: url("0784b1_eb1c49b2a1094974b2706f88f15a2052_mv2.webp");
  height: 142vh;
}

.logo {
  padding: 40px;
  filter: invert(1);
}

.home-section-heading {
  color: var(--white);
  font-size: 71px;
  text-align: center;
  margin-top: 80px;
  line-height: 82px;
}

.home-section-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.home-section-button {
  width: 208px;
  height: 61px;
  border-radius: var(--border-radius);
  background-color: var(--blue);
  border: 1px solid var(--blue);
  color: var(--white);
  font-size: 24px;
  align-self: center;
  cursor: pointer;
  margin-top: 19px;
}

.home-section-button:hover {
  background-color: var(--hover);
  color: var(--black);
  border: 1px soli var(--white);
  transition: 0.6s;
}

/* about */

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.about-section-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about-section-heading1 {
  font-size: 64px;
  position: relative;
  left: 78px;
}

.about-section-paragraph1 {
  position: relative;
  left: 11px;
  top: 21px;
  font-size: 18px;
  width: 377px;
}

.about-section-button1 {
  width: 189px;
  height: 55px;
  border-radius: var(--border-radius);
  background-color: var(--blue);
  border: 1px solid var(--blue);
  color: var(--white);
  font-size: 24px;
  cursor: pointer;
  margin-top: 53px;
  position: relative;
  left: -82px;
}

.about1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.i {
  width: 700px;
}

.a {
  align-items: flex-start;
  margin-left: 100px;
  margin-top: 35px;
}

.b {
  left: 0;
  width: 281px;
}

.h {
  margin-left: 91px;
}

/* contact */

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
}

.contact-section-heading {
  color: black;
}

.heading {
  padding: 85px;
  text-align: center;
}

.contact-section-img{
  margin-top: 18px;
    margin-left: -98px;
    border-right: 1px solid black;
    padding: 9px;
}

.contact-section-paragraph{
  margin-left: 288px;
  margin-top: -63px;
  padding: 30px;
}

@media screen and (max-width: 500px) {
  /* home */
  .home {
    width: 289%;
    height: 123vh;
    background-position: center;
    background-size: cover;
  }

  /* about */

  .about {
  
}

  /* .k{
   text-align: center;
   font-size: 25px;
   width: 379px;
 }

 .m1{
    left: 16px;
 } */
}
